{% extends "base.html" %}

{% block content %}
    <main class="container mt-5 g-5">
        {% if img %}
            <h1 class="mb-5 text-center">
                Image Info
            </h1>
            <div class="row justify-content-center">
                <div class="col-4">
                    <img class="w-100" src="{{ img.url }}" alt="img">
                </div>
                <div class="col-6">
                    
                        <table class="table mb-4">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Attribute</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Name:</th>
                                <td>{{ img.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Size (Bytes):</th>
                                <td>{{ img.size }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Extension:</th>
                                <td>{{ img.extension }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last updated at:</th>
                                <td>{{ img.last_update }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ img.url }}" download="{{ img.name }}" class="btn btn-primary btn-big">
                                        Download the Image
                                    </a>
                                </div>
                                <div class="col">
                                    <button class="btn btn-danger ms-5 d-block" data-toggle="modal" data-target="#exampleModalCenter">
                                        Delete Image
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        {% else %}
            <h2 class="text-center">No Image Info Avialable!</h2>
        {% endif %}
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
                Do you want to delete the Image?
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>
                    If you take this action, Image will be lost forever and can not be undone!
                    Make sure you really want this and click 'Yes Delete'
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <form method="POST" action="{{ url_for('delete_image', name=img.name) }}">
                    <button class="btn btn-danger">Yes Delete</button>
                </form>
            
            </div>
        </div>
        </div>
    </div>
{% endblock content %}